@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

/*Fuentes*/
.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

.orbitron {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.exo {
  font-family: "Exo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/*Caracterisicas scrollbar*/
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-dark::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}
.scrollbar-dark::-webkit-scrollbar-track {
  background: #111;
}
.scrollbar-dark::-webkit-scrollbar-thumb {
  background-color: #444;
  border-radius: 8px;
  border: 2px solid #111;
}

/*Pacman y fantasmas*/
@keyframes mouth {
  0% {
    margin-top: 0;
  }
  25% {
    margin-top: -52px;
  }
  50% {
    margin-top: -104px;
  }
  75% {
    margin-top: -52px;
  }
  100% {
    margin-top: 0;
  }
}

@keyframes pacman-move {
  0% {
    transform: translateX(-100%) scaleX(-1);
  }
  30% {
    transform: translateX(100vw) scaleX(-1);
  }
  50% {
    transform: translateX(100vw) scaleX(-1);
  }
  50.0001% {
    transform: translateX(100vw);
  }
  80% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes eye-follow {
  0%, 100% {
    left: 0px;
  }
}

@keyframes ghost-feet {
  0%, 100% {
    box-shadow:
      4px 0 var(--feet-color),
      8px 0 var(--feet-color),
      12px 0 var(--feet-color),

      4px 4px var(--feet-color),
      8px 4px var(--feet-color),

      20px 0 var(--feet-color),
      24px 0 var(--feet-color),
      28px 0 var(--feet-color),
      32px 0 var(--feet-color),

      24px 4px var(--feet-color),
      28px 4px var(--feet-color),

      40px 0 var(--feet-color),
      44px 0 var(--feet-color),
      48px 0 var(--feet-color),
      52px 0 var(--feet-color),

      44px 4px var(--feet-color),
      48px 4px var(--feet-color);
  }
  50% {
    box-shadow:
      0 4px var(--feet-color),
      4px 0 var(--feet-color),

      12px 0 var(--feet-color),
      16px 0 var(--feet-color),
      20px 0 var(--feet-color),
      16px 4px var(--feet-color),
      20px 4px var(--feet-color),

      32px 0 var(--feet-color),
      36px 0 var(--feet-color),
      40px 0 var(--feet-color),
      32px 4px var(--feet-color),
      36px 4px var(--feet-color),

      48px 0 var(--feet-color),
      52px 0 var(--feet-color),
      52px 4px var(--feet-color);
  }
}

.animate-pacman-move {
  animation: pacman-move 12s linear infinite;
}

@media (max-width: 640px){
  .animate-pacman-move{
    animation: pacman-move 6s linear infinite;
  }
}

.pacman {
  fill: yellow;
  overflow: hidden;
  position: absolute;
  width: 52px;
  height: 52px;
  svg {
    width: 52px;
    height: 52px;
    display: block;
  }
}

.pacman_sprite {
  width: 52px;
  height: 156px;
  animation-name: mouth;
  animation-duration: .4s;
  animation-fill-mode: forwards;
  animation-timing-function: steps(1);
  animation-iteration-count: infinite;
}

.ghost {
  position: absolute;
  width: 56px;
  height: 56px;
  animation: pacman-move 12s linear infinite;
}

@media (max-width: 640px){
  .ghost {
    position: absolute;
    width: 56px;
    height: 56px;
    animation: pacman-move 6s linear infinite;
  }
}

.ghost--orange { --feet-color: orange; }
.ghost--blue   { --feet-color: #1696fe; }
.ghost--pink   { --feet-color: #f783ac; }

.ghost__body svg {
  width: 100%;
  height: auto;
  fill: var(--feet-color);
}

.ghost__feet {
  position: absolute;
  top: 48px;
  left: 0;
  width: 4px;
  height: 4px;
  background: var(--feet-color);
  animation: ghost-feet 0.4s steps(1) infinite;
}

.ghost__eye {
  position: absolute;
  top: 12px;
  width: 16px;
  height: 20px;
  background: white;
  border-radius: 25%;
  overflow: hidden;
}

.ghost__eye--left {
  left: 8px;
}

.ghost__eye--right {
  right: 8px;
}

.pupil {
  width: 8px;
  height: 8px;
  background: blue;
  position: absolute;
  top: 6px;
  left: 4px;
  animation: eye-follow 12s linear infinite;
}